*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{

    display: flex;
    gap: 232.5px;
}


.list_ul {

    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons_ul{

    display: flex;
    list-style-type: none;
    gap: 24px;
}